{% extends 'app/base.html' %}

{% block content %}
<div class="container mt-4">
        <div class="card">
                <div class="card-header">

                        <h5 class="card-title">{{ empleo.nombre_empleo }}</h5>
        
                </div>
                <div class="card-body">
                <p class="card-text"><strong>Requisitos:</strong>{{ empleo.descripcion_empleo }}</p>
                <p class="card-text"><strong>Fecha:</strong> {{ empleo.fecha_empleo }}</p>
                <p class="card-text"><strong>Departamento:</strong> {{ empleo.area_empleo }}</p>
                <p class="card-text"><strong>Modalidad:</strong> {{ empleo.modalidad_empleo}}</p>
                <p class="card-text"><strong>Tiempo de Contrato:</strong> {{ empleo.tiempo_empleo }} meses</p>
                <p class="card-text"><strong>Ciudad:</strong> {{empleo.id_ciudad_fk}} </p>
                <a href="#" class="btn btn-success">Postular</a>
                </div>

        </div>
</div>
        
{% endblock %}