{% extends 'app/base.html' %}

{% block content %}


<style>

a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}
.card:hover{
  box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
}

</style>
<br>
<center>
  <h1>Plazas Laborales CNE</h1>
  <h3>Santo Domingo 2024</h3>
  <h5>Postula a tu trabajo ahora!</h3>
    <h5>Prueba!</h3>
  
</center>
{%for p in empleos %} <br>
<div class="container-fluid col-sm-8 mb-6 mb-sm-2">
    <div class="card">
      <a href="{% url 'descripcion' p.id %}">
      <div class="card-body btn" style="text-align:left;">
        <h5 class="card-title">{{p.nombre_empleo}}</h5>
        <p class="card-text"><i class="fa-light fa-location-dot"></i> {{p.id_ciudad_fk }}</p>
        <p class="card-text"><i class="fa-light fa-briefcase"></i> {{p.area_empleo}}</p>
        <p class="card-text">Modalidad: {{p.modalidad_empleo}}</p>
        
      </a>
      </div>
    </div>
  </div>
  

<!-- <div class="card">
    <h5 class="card-header">{{p.titulo}}</h5>
    <div class="card-body">
      <h5 class="card-title">Contacto: {{p.email}}</h5>
      <p class="card-text">{{p.descripcion}}</p>
      <a href="{% url 'eliminar' p.id %}" class="btn btn-danger">Eliminar</a>
      <a href="{% url 'actualizar' p.id %}" class="btn btn-success">Actualizar</a>
    </div>
  </div> -->

  {%endfor%}
  {% endblock %}